h1{
    font-size: 3.5rem;
    color: #682d0d;
}
h2{
    color: rgb(2, 6, 1);
    font-size: 1.5rem;
}

body{
    text-align: center;
    background-color: #068d7b;
}

.container{

    display: block;
    width: 100%;
    margin: 50px auto 30px;
}

.btn{
    background-color: rgb(75, 71, 71);
    margin: 2.65px;
    display: inline-block;
    height: 70px;
    width: 70px;
    border: 3.7px solid black;
    border-radius: 10px;
}



.pressed {
    box-shadow: 0 0 20px white;
    background-color: rgb(183, 183, 183);
}

.game-over{
    background-color: red;
}

